{% extends "layout.html" %}

{% block title %}Perfil del usuario{% endblock %}

{% block content %}
  <div id="mensajeModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-success text-white fw-bold">
              <!--<h5 class="modal-title">Éxito</h5>-->
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body fs-7">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success fs-7" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
      {%if field.name != 'foto_perfil' %}
        <p>{{ field.label_tag }} {{ field }}</p>
      {% endif %}
    {% endfor %}

    <p>
      {{ form.foto_perfil.label_tag }}
      <br/>
      <img id="preview" src="{{ user.foto_perfil.url }}" class="rounded-circle" style="object-fit:cover; border-radius:50%;" width="200" height="200"/>
      {{ form.foto_perfil }}
    </p>
    <button type="submit">Guardar cambios</button>
{% endblock content %}
{% block scripts %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    {% if messages %}
    var modalEl = document.getElementById('mensajeModal');
    if(modalEl){
      var modal = new bootstrap.Modal(modalEl, {
        ackdrop: 'static',
        keyboard: false
      });
      modal.show();

      modalEl.addEventListener('hidden.bs.modal', function(){
        location.reload();
      });
    }
    {% endif %}

      var fotoActual = document.getElementById('id_foto_perfil');
      var fotoNueva = document.getElementById('preview'); 

      if (fotoActual && fotoNueva){
        fotoActual.addEventListener('change', function(event){
          var foto = event.target.files[0];
          if (foto){
            var reader = new FileReader();
            reader.onload = function(e) {
              preview.src = e.target.result;
            }
            reader.readAsDataURL(foto);
          }
        });
      }
      
      
    });
  </script>
{% endblock scripts %}
